/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1150px) {
    .slide-container{
        margin-left: 20%;
        padding: 10px 20px 10px 20px;
        padding-left:20px;
        padding-right: 20px;
        width: 60%;
        display:block;
        background:transparent;
        border:1px solid #ccc;
        box-shadow:5px 5px 5px 5px #999;
    }
    
    .imagine{
        text-align: center;
        margin-left: 10%;
        width:80%;
        height: 500px;
    }
    
}


@media only screen 
and (max-width : 1150px) {
    .slide-container{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        padding: 10px 20px 10px 20px;
        padding-left:20px;
        padding-right: 20px;
        width: 80%;
        display:block;
        background:transparent;
        border:1px solid #ccc;
        box-shadow:5px 5px 5px 5px #999;
    }
    
    .imagine{
        text-align: center;
        margin-left: 10%;
        width:80%;
        height: 400px;
    }
    
}


@media only screen 
and (max-width : 750px) {
    .slide-container{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20%;
        padding: 10px 10px 10px 10px;
        width: 90%;
        display:block;
        background:transparent;
        border:1px solid #ccc;
        box-shadow:5px 5px 5px 5px #999;
    }
    
    .imagine{
        text-align: center;
        margin-left: 6%;
        margin-right: 6%;
        width:88%;
        height: 250px;
    }
    
}
