@media only screen 
and (min-width : 1200px) {
    .contact{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: 4%;
        margin-top: 1%;
        
    }
    .contact-form-group{
        margin-right: 30px;
        width: 30%;
    }

}
@media only screen 
and (max-width : 1200px) {
    .contact{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 6%;
        margin-top: 1%;
    }
    .contact-form-group{
      
        width: 50%;
        margin-top: 30px;
    
    }

} 
@media only screen 
and (max-width : 1050px) {
    .contact{
        display: flex;
        flex-direction: column;
        margin-left: 6%;
        margin-top: 1%;
    }
    .contact-form-group{
      
        width: 100%;
        margin-top: 30px;
    
    }
}




.contact-form-group > label{
    left: 0;
    color:#222;
}
.contact-form-group >input,textarea{
    border: none;
    border-bottom: 1px solid #999;
    padding-top:10px;
    box-sizing: border-box;
    color: black;
}
.contact-form-grouprequired >input,textarea ::placeholder{
    border: none;
    border-bottom: 1px solid #999;
    padding-top:10px;
    box-sizing: border-box;
}
.contact-form-grouprequired{
    margin-right: 30px;
    width: 30%;
}
.contact-form-grouprequired > label{
    left: 0;
    color:#222;
}
.contact-form-grouprequired{
    margin-right: 30px;
    width: 30%;
}