

*:focus {
    outline: none;
}

.edit-add-left{
    margin-left: 5%;
    margin-right: 10%;
}
.edit-add-right{
    margin-top: 3%;
}
#description{
    margin-top: 60px;
}
.title-edit-add{
    text-align: center;
    line-height: 1.66;
    margin: 0;
    padding-bottom: 8%;
    font-weight: 700;
    color: #222;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
}

.edit-add-form-grouprequired{
    position: relative;
    margin-bottom: 1%;
    overflow: hidden;
}

.edit-add-form-group > label{
    
    position:absolute;
    left: 0;
    color:#222;
}

.edit-add-form-group >input,textarea{
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding-top:10px;
    box-sizing: border-box;
    margin-top:5%;
}
.edit-add-form-grouptitle >input,textarea{
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding-top:10px;
    box-sizing: border-box;
}
.edit-add-form-groupdescription >input,textarea{
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding-top:10px;
    box-sizing: border-box;
}
.edit-add-form-group >textarea{
   margin-top: 40px;
   resize: none;
}
.edit-add-form-grouprequired >textarea{
    margin-top: 0px;
    resize: none;
 }
.edit-add-form-groupdescription > #description{
margin-top: 0px;
}
.edit-add-form-grouprequired >input,textarea{
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding-top:10px;
    box-sizing: border-box;
}
.css-2b097c-container{
    margin-top: 20px;

}
.edit-add-contact{
    margin-left: 35px;
    margin-top: 2%;
}

.edit-add-form-submit{
    
    display: inline-block;
    background:#6dabe4;
    color:#fff;
    border: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
}

.edit-add-button-submit{
    text-align: center;
}
.edit-add-form-submit:hover{
    background:#4292dc;
}

.select-optiondescription{
    margin-bottom: 20px;
}
.select-optionrequired{
    margin-bottom: 20px;
}




@media only screen 
and (max-width : 750px) {
    .edit-add-form-group{
        position: relative;
        margin-bottom: 5%;
        overflow: hidden;
    }
    .edit-add-container{
        margin-top: 10%;
        padding: 3%;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
        background: #fff;
        margin: 0 auto;
        box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -o-border-radius: 20px;
        -ms-border-radius: 20px;
    
    }
    .edit-add-form{
        display: flex;
        flex-direction: column;
    }
   
}



@media only screen 
and (min-width : 750px) {
    .edit-add-form-group{
        position: relative;
        margin-bottom: 5%;
        overflow: hidden;
    }
    .edit-add-container{
        margin-top: 10%;
        padding: 3%;
        margin-left: 5%;
        margin-right: 5%;
        width: 70%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
        background: #fff;
        margin: 0 auto;
        box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -o-border-radius: 20px;
        -ms-border-radius: 20px;
    
    }
    .edit-add-form{
        display: flex;
        flex-direction: column;
    }
   
}

@media only screen 
and (min-width : 1400px) {
    .edit-add-form-group{
        position: relative;
        margin-bottom: 5%;
        overflow: hidden;
    }
    .edit-add-container{
        margin-top: 10%;
        padding: 3%;
        margin-left: 5%;
        margin-right: 5%;
        width: 60%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
        background: #fff;
        margin: 0 auto;
        box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -o-border-radius: 20px;
        -ms-border-radius: 20px;
    
    }
    .edit-add-form{
        display: flex;
        flex-direction: column;
    }
    
}







