
@media only screen 
and (min-width : 930px) {
    .about-container{
        text-align: center;
        width: 100%;
        height: 100%;
    
    }
.about-content{
    margin-left:20% ;
    margin-right: 20%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    border:1px solid #ccc;
    box-shadow:5px 5px 5px 5px #999;

}.about-content-text{
    text-align: center;
    flex-basis: 40%;
    margin-right: 6%;
    margin-left: 4%;
    
}
.about-content-text >p{
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    font-style: italic;
    margin-top: 0;
    font-size: 15px;
    /* text-shadow: 1px 1px 1px #666, 3px 3px 8px black; */
}
.about-content-image{
    width: 40%;
    height: 500px;
    flex-basis: 50%;
}
}




@media only screen 
and (max-width : 930px) {
    .about-container{
        text-align: center;
        width: 100%;
        height: 100%;
        margin-bottom: 5%;
        margin-top: 10%;
    

    }
    .about-content-text >p{

        text-align: center;
        font-style: italic;
        margin-top: 3%;
        font-size: 15px;
        /* text-shadow: 1px 1px 1px #666, 3px 3px 8px black; */
    }
    .about-content{
        margin-left:5% ;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        border:1px solid #ccc;
        box-shadow:5px 5px 5px 5px #999;
    
    }
    .about-content-text{
        text-align: center;
        flex-basis: 40%;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 7%;
        margin-bottom:7% ;
        
    }
    .about-content-text > br{
        display: none;
    }
    .about-content-image{
        margin-left: 10%;
        width: 80%;
        height: 500px;
        margin-bottom: 2%;
       
    }
    
}
