
.App {
  align-items: stretch;
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  background-image: url("./images/01.jpg");
  background-repeat: repeat-y;
  background-size:cover ;
  background-position: center;
  background-attachment: fixed;
  font-family: times, Times New Roman, times-roman, georgia, serif;

}

.box{
  height: 100%;
  width: 100%;
}
.menu{
  flex-basis: 100%;
}



